@import "reset.css";
.block{
    text-align: center;
}
.block_row{
    display: inline-flex;
    border: 2px dotted black;
    background-color: cornflowerblue,;
    margin: 5px 5px 5px 5px;

}
.block_column{
    border: 2px dotted black;
    background-color: darkorange;
    margin: 5px 5px 5px 5px;
}
.block_item{
    border: 2px dotted black;
    background-color: gold;
    margin: 5px 5px 5px 5px;
}
.imageformat{
    width: 10px;
    height: 10px;
}