@import "reset.css";
.block{
    text-align: center;
}
.block_row{
    display: inline-flex;
    /*border: 2px dotted black;
    background-color: cornflowerblue,;*/
    margin: 0px 0px 0px 0px;

}
.block_column{
    /*border: 2px dotted black;
    background-color: darkorange;*/
    margin: 0px 0px 0px 0px;
}
.block_item{
    /*border: 2px dotted black;
    background-color: gold;*/
    margin: 0px 0px 0px 0px;
}
.imageformat{
    width: 20px;
    height: 20px;
    
}
